In [1]:
name = "Muhammad Haider Ali"
rollno = "su92-bscsm-f22-219"
age = 19
print("name :",name,"\nRollno. :",rollno,"\nAge :",age)
print("Name datatype :",type(name))
print("rollno datatype :",type(rollno))
print("age datatype :",type(age))
print("""
**********************
*                    *
*                    *
*                    *
*                    *
**********************
""")
heightInFeet = input("Enter your height in feet :")
heightInMeters = float(heightInFeet) * 0.3048
print("Your height in meters is :",heightInMeters)
print("""
**********************
*         *          *
*         *          *
**********************
*         *          *
*         *          *
**********************
""")

name : Muhammad Haider Ali
Rollno. : su92-bscsm-f22-219
Age : 19
Name datatype : <class 'str'>
rollno datatype : <class 'str'>
age datatype : <class 'int'>

**********************
*                    *
*                    *
*                    *
*                    *
**********************

Enter your height in feet : 5.7

Your height in meters is : 1.7373600000000002

**********************
*         *          *
*         *          *
**********************
*         *          *
*         *          *
**********************